<h2
  mat-dialog-title
  style="
    background-color: #2e664c;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
  "
>
  Announcement 1
</h2>
<mat-dialog-content class="mat-typography">
  <div class="img-fluid mt-3">
    <img
      src="assets/img/news-2.jpg"
      style="width: 100%;"
      alt=""
    />
  </div>
  <div class="caption mt-3"><strong>Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed
    ut harum.Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed
    ut harum.Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed
    ut harum.Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed
    ut harum.Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed
    ut harum.Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed
    ut harum.Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed
    ut harum.Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed
    ut harum.Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed
    ut harum.Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed
    ut harum.Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed
    ut harum.</strong></div>
</mat-dialog-content>
<mat-dialog-actions class="float-end">
  <button class="btn btn-secondary" mat-dialog-close>
    Close
  </button>
</mat-dialog-actions>
