.mat-typography {
  font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(186, 186, 190);
}

.img-fluid {
  display: flex;
  justify-content: center;
}
