.navbar {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  height: 60px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
  z-index: 2;
}

.navbar-brand {
  font-family: "Nunito", sans-serif;
  color: #2e664c;
  font-weight: bold;
  font-size: 22px;
  padding-left: 3px;
}

li .active,
a:hover {
  background-color: #0db86815;
  color: #000;
}

.dropdown-menu {
  width: 14rem;
  margin-top: 8px;
  border-radius: 4px;
  padding: 10px 0;
  -webkit-animation-name: dropdown-animate;
  animation-name: dropdown-animate;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  border: 0;
  box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
}

.dropdown-menu-arrow::before {
  content: "";
  width: 13px;
  height: 13px;
  background: #fff;
  position: absolute;
  top: -7px;
  right: 20px;
  transform: rotate(45deg);
  border-top: 1px solid #eaedf1;
  border-left: 1px solid #eaedf1;
}

@keyframes dropdown-animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}

i {
  margin-right: 10px;
  font-size: 17px;
}

.ads {
  font-family: "Nunito";
  color: #2e664c;
  font-size: 17px;
  font-weight: bold;
  margin-left: 5px;
}

.bi-list {
  font-size: 35px;
  cursor: pointer;
}

.con {
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  gap: 15px;
}

.con .nav-link:hover {
  background-color: transparent !important;
}

.admin {
  width: 300px;
  display: flex;
  align-items: center;
  position: relative;
}

.admin .bi-search {
  position: absolute;
  right: 10px;
  margin-bottom: 7px;
  cursor: pointer;
}

.side {
  padding-right: 10px;
}

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 30px;
  cursor: pointer;
  margin: auto;
  display: block;
  height: calc(4px * 3 + 11px * 2);
}

.bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: calc(4px / 2);
  background: #777777;
  color: inherit;
  opacity: 1;
  transition: none 0.35s cubic-bezier(0.5, -0.35, 0.35, 1.5) 0s;
}

/***** Spin Animation *****/

.bar--top {
  bottom: calc(50% + 6px + 2px / 2);
  transition-property: bottom, transform;
  transition-delay: calc(0s + 0.35s), 0s;
}

.bar--middle {
  top: calc(50% - 4px / 2);
  transition-property: opacity;
  transition-delay: calc(0s + 0.35s);
}

.bar--bottom {
  top: calc(50% + 6px + 2px / 2);
  transition-property: top, transform;
  transition-delay: calc(0s + 0.35s), 0s;
}

#checkbox:checked + .toggle .bar--top {
  bottom: calc(50% - 4px / 2);
  transform: rotate(135deg);
  transition-delay: 0s, calc(0s + 0.35s);
}

#checkbox:checked + .toggle .bar--middle {
  opacity: 0;
  transition-duration: 0s;
  transition-delay: calc(0s + 0.35s);
}

#checkbox:checked + .toggle .bar--bottom {
  top: calc(50% - 4px / 2);
  transform: rotate(225deg);
  transition-delay: 0s, calc(0s + 0.35s);
}

@media screen and (max-width: 767px) {
  .navbar {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }

  .navbar-brand,
  .ads,
  .admin {
    display: none;
  }

  .dropdown-toggle::after {
    content: none;
  }

  #logo {
    position: absolute;
    justify-content: center;
  }

  .side {
    padding-left: 5px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .navbar {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }

  .navbar-brand,
  .ads,
  .admin {
    display: none;
  }

  .dropdown-toggle::after {
    content: none;
  }

  #logo {
    position: absolute;
    justify-content: center;
  }

  .side {
    padding-left: 5px;
  }
}

/* The switch - the box around the slider */
.switch {
  font-size: 10px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  // opacity: 0;
  // width: 0;
  // height: 0;
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196f3;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  background-color: rgb(255, 255, 0);
  transition: 0.4s;
}

.switch input:checked + .slider:before {
  background-color: black;
  border-radius: 50px;
  box-shadow: inset 6px 0px 1px 0px rgb(255, 255, 255);
}

.switch input:checked + .slider {
  background-color: black;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.switch input:checked + .slider:before {
  transform: translateX(1.5em);
}
