<div class="img-fluid">
  <img src=".././assets/img/evblogo.png" style="align-content: center" alt="" />
</div>
<div class="main">
  <div class="container-fluid">
    <div class="wrapper-fluid">
      <div class="row no-gutter">
        <div class="col-mb-12">
          <h2 style="color: #2e664c; font-weight: bold; font-size: 25px">
            Create an Account
          </h2>
          <p>Enter the personal details to create account</p>

          <select class="form-select" aria-label="Default select example">
            <option selected>Select Branch</option>
            <option value="1">Biñan Branch</option>
            <option value="2">Cainta Branch</option>
            <option value="3">Calapan Branch</option>
            <option value="4">Head Office</option>
            <option value="5">Intramuros Branch</option>
            <option value="6">Lemery Branch</option>
            <option value="7">Lipa Branch</option>
            <option value="8">Printing Press</option>
            <option value="9">Stronghold Insurance Company, Inc.</option>
            <option value="10">Taytay Branch</option>
          </select>
          <select class="form-select" aria-label="Default select example">
            <option selected>Select Department</option>
            <option value="1">Marketing Department</option>
            <option value="2">Finance Department</option>
            <option value="3">Licensing Department</option>
            <option value="4">Accounting Department</option>
            <option value="5">Disbursing Department</option>
            <option value="6">IICS Department</option>
            <option value="7">Documentation Department</option>
            <option value="8">SPP Department</option>
          </select>

          <div class="mt-5" style="font-weight: bold">
            <label for="exampleFormControlInput1" class="form-label"
              >Full Name</label
            >
            <input type="text" class="form-control" id="fullname" />
            <label for="exampleFormControlInput1" class="form-label"
              >Username</label
            >
            <input type="text" class="form-control" id="username" />
            <label for="exampleFormControlInput1" class="form-label"
              >Password</label
            >
            <input type="password" class="form-control" id="password" />
            <label for="exampleFormControlInput1" class="form-label"
              >Designation</label
            >
            <input type="text" class="form-control" id="designation" />
          </div>
          <button type="button" (click)="submit()" class="btn btn-success">
            Create an Account
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
