<div class="main">
  <div class="social-links">
    <a
      href="https://www.facebook.com/evbgroupofcompanies"
      target="_blank"
      rel="noopener noreferrer"
      class="facebook"
      ><i class="bi bi-messenger"></i></a>
    <span class="tooltiptext"><em>Message Us Here!</em></span>
  </div>
</div>

<div class="container">
  <div class="gif">
    <img src="assets/img/rat.gif" alt="gif_ing" />
  </div>
  <div class="content">
    <h1 class="main-heading">
      404 Not Found <i class="bi bi-emoji-frown"></i>
    </h1>
    <p>...maybe the page you're looking for is not found or never existed.</p>
    <button class="home" (click)="home()">
      Back to home <i class="bi bi-house-door"></i>
    </button>
  </div>
</div>
