<div
  class="container d-flex justify-content-center align-items-center"
  style="height: 100vh; overflow-x: hidden"
>
  <div class="wrapper-fluid px-0 mx-auto">
    <div class="main col-mb-12">
      <div class="img-fluid">
        <img src="assets/img/EVBGOC.png" width="150px" height="130px" />
      </div>

      <div class="title">
        <h2>Login to your Account</h2>
        <p style="line-height: 0.5">Enter your username & password to login</p>
      </div>

      <div class="log">
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            formControlName="username"
            class="form-control"
            id="username"
          />

          <label for="password" class="form-label">Password</label>
          <div class="pass">
            <input
              type="{{ showPassword ? 'text' : 'password' }}"
              formControlName="password"
              class="form-control"
              id="password"
            />
            <i
              class="bi"
              [ngClass]="{
                'bi-eye': showPassword,
                'bi-eye-slash': !showPassword
              }"
              (click)="pass()"
            >
            </i>
          </div>
          <div [ngClass]="{ 'error-shake': showErrorShake }" *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
          </div>
          <button class="mb-3" type="submit" [disabled]="loginForm.invalid">
            Login
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
