<div
  class="container d-flex justify-content-center align-items-center"
  style="height: 100vh; overflow-x: hidden"
>
  <div class="wrapper-fluid px-0 mx-auto">
    <div class="main col-mb-12">
      <div class="img-fluid shine">
        <img src="assets/img/EVBGOC.png" width="150px" height="130px" />
      </div>

      <div class="title">
        <h2>Login to your Account</h2>
        <p style="line-height: 0.8">Enter your username & password to login</p>
      </div>

      <div class="log">
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
          <label for="username" class="form-label">Username</label>
          <div>
            <input
              type="text"
              formControlName="username"
              class="form-control"
              name="username"
              [ngClass]="{
                'error-shake':
                  loginForm.get('username').invalid &&
                  loginForm.get('username').touched
              }"
              [class.invalid-input]="
                loginForm.get('username').invalid &&
                loginForm.get('username').touched
              "
            />
            <span
              *ngIf="
                loginForm.get('username').hasError('incorrect') &&
                loginForm.get('username').touched
              "
            >
              Invalid username.
            </span>
            <span
              *ngIf="
                loginForm.get('username').hasError('required') &&
                loginForm.get('username').touched
              "
            >
              Username is required.
            </span>
          </div>

          <label for="password" class="form-label mt-4">Password</label>
          <div class="pass">
            <input
              type="{{ showPassword ? 'text' : 'password' }}"
              formControlName="password"
              class="form-control"
              name="password"
              [ngClass]="{
                'error-shake':
                  loginForm.get('password').invalid &&
                  loginForm.get('password').touched
              }"
              [class.invalid-input]="
                loginForm.get('password').invalid &&
                loginForm.get('password').touched
              "
            />
            <i
              class="bi"
              [ngClass]="{
                'bi-eye': showPassword,
                'bi-eye-slash': !showPassword
              }"
              (click)="pass()"
            >
            </i>
          </div>
          <span
            *ngIf="
              loginForm.get('password').hasError('incorrect') &&
              loginForm.get('password').touched
            "
          >
            Invalid password.
          </span>
          <span
            *ngIf="
              loginForm.get('password').hasError('required') &&
              loginForm.get('password').touched
            "
          >
            Password is required.
          </span>
          <button class="mb-3 mt-5" type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
