<div
  class="container d-flex justify-content-center align-items-center"
  style="height: 100vh"
>
  <div class="wrapper-fluid px-0 mx-auto">
    <div class="main no-gutter">
      <div class="col-mb-12">
        <div class="img-fluid">
          <img src="assets/img/EVBGOC.png" width="150px" height="130px" />
        </div>

        <div class="caption">
          <h2>Create an Account</h2>
          <p style="line-height: 0.5">
            Enter the personal details to create account
          </p>
        </div>

        <div class="log">
          <form (ngSubmit)="submit()">
            <select
              class="form-select mt-4"
              name="selectedBranch"
              [(ngModel)]="selectedBranch"
              aria-label="Default select example"
            >
              <option value="undefined" selected disabled>Select Branch</option>
              <option *ngFor="let branches of branch" [value]="branches.name">
                {{ branches.name }}
              </option>
            </select>
            <select
              class="form-select"
              name="selectedDepartment"
              [(ngModel)]="selectedDepartment"
              aria-label="Default select example"
            >
              <option value="undefined" selected disabled>
                Select Department
              </option>
              <option
                *ngFor="let departments of department"
                [value]="departments.name"
              >
                {{ departments.name }}
              </option>
            </select>

            <div class="regs">
              <label for="exampleFormControlInput1" class="form-label"
                >Full Name</label
              >
              <input
                type="text"
                class="form-control"
                name="fullname"
                [(ngModel)]="fullname"
              />

              <label for="exampleFormControlInput1" class="form-label"
                >Username</label
              >
              <input
                type="text"
                class="form-control"
                name="username"
                [(ngModel)]="username"
              />

              <label for="exampleFormControlInput1" class="form-label"
                >Password</label
              >
              <div class="pass">
                <input
                  type="{{ showPassword ? 'text' : 'password' }}"
                  class="form-control"
                  name="password"
                  [(ngModel)]="password"
                />
                <i
                  class="bi"
                  [ngClass]="{
                    'bi-eye': showPassword,
                    'bi-eye-slash': !showPassword
                  }"
                  (click)="pass()"
                >
                </i>
              </div>

              <label for="exampleFormControlInput1" class="form-label"
                >Role</label
              >
              <input
                type="text"
                class="form-control"
                name="role"
                [(ngModel)]="role"
              />
              <button type="submit" class="btn btn-success mb-2">
                Create an Account
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
