<aside class="side-bar flex-shrink-0 p-4" style="width: 320px">
  <!-- <a
    class="d-flex justify-content-center align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
    routerLink="./dashboard"
  >
    <img
      class="logo"
      src="assets/img/EVBGOC.png"
      width="50px"
      height="45px"
      alt=""
    />
    <span
      class="fs-4"
      style="margin-left: 10px; font-weight: bold; color: #2e664c"
      >EVB CIS</span
    >
  </a>
  <hr /> -->
  <ul class="nav nav-pills flex-column mb-auto">
    <div class="hoho">
      <li class="nav-item" routerLink="./dashboard" routerLinkActive="active">
        <a class="nav-link text-dark" aria-current="page">
          <i class="bi bi-grid"></i>
          <span class="menu">Dashboard</span>
        </a>
      </li>
      <li
        class="nav-item mt-1"
        routerLink="./announcement"
        routerLinkActive="active"
      >
        <a class="nav-link text-dark" aria-current="page">
          <i class="bi bi-megaphone"></i>
          <span class="menu">Announcement</span>
        </a>
      </li>
      <li
        class="nav-item mt-1"
        routerLink="/user-registration"
        routerLinkActive="active"
      >
        <a class="nav-link text-dark" aria-current="page">
          <i class="bi bi-person-add"></i>
          <span class="menu">Create new account</span>
        </a>
      </li>
    </div>

    <div class="accordion accordion-flush mt-1" id="accordionFlushExample">
      <div class="accordion-item">
        <div class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
            <i class="bi bi-person"></i>
            <span class="menu">Client Registration</span>
          </button>
        </div>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <li
              class="nav-item"
              routerLink="./non-individual"
              routerLinkActive="active"
            >
              <a class="nav-link text-dark">
                <i class="bi bi-record"></i>
                <i class="bi bi-record-fill"></i>
                <span>Non-Individual</span>
              </a>
            </li>
            <li
              class="nav-item"
              routerLink="./individual"
              routerLinkActive="active"
            >
              <a class="nav-link text-dark">
                <i class="bi bi-record" style="font-size: 10px"></i>
                <i class="bi bi-record-fill"></i>
                <span>Individual</span>
              </a>
            </li>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <div class="accordion-header" id="flush-headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
            aria-expanded="false"
            aria-controls="flush-collapseTwo"
          >
            <i class="bi bi-menu-button-wide"></i>
            <span class="menu">List of Client</span>
          </button>
        </div>
        <div
          id="flush-collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingTwo"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <li
              class="nav-item"
              routerLink="./overall"
              routerLinkActive="active"
            >
              <a class="nav-link text-dark">
                <i class="bi bi-record" style="font-size: 10px"></i>
                <i class="bi bi-record-fill"></i>
                <span>Overall</span>
              </a>
            </li>
            <li class="nav-item" routerLink="./binan" routerLinkActive="active">
              <a class="nav-link text-dark">
                <i class="bi bi-record" style="font-size: 10px"></i>
                <i class="bi bi-record-fill"></i>
                <span>Biñan Branch</span>
              </a>
            </li>
            <li
              class="nav-item"
              routerLink="./cainta"
              routerLinkActive="active"
            >
              <a class="nav-link text-dark">
                <i class="bi bi-record" style="font-size: 10px"></i>
                <i class="bi bi-record-fill"></i>
                <span>Cainta Branch</span>
              </a>
            </li>
            <li
              class="nav-item"
              routerLink="./calapan"
              routerLinkActive="active"
            >
              <a class="nav-link text-dark">
                <i class="bi bi-record" style="font-size: 10px"></i>
                <i class="bi bi-record-fill"></i>
                <span>Calapan Branch</span>
              </a>
            </li>
            <li
              class="nav-item"
              routerLink="./head-office"
              routerLinkActive="active"
            >
              <a class="nav-link text-dark">
                <i class="bi bi-record" style="font-size: 10px"></i>
                <i class="bi bi-record-fill"></i>
                <span>Head Office</span>
              </a>
            </li>
            <li
              class="nav-item"
              routerLink="./intramuros"
              routerLinkActive="active"
            >
              <a class="nav-link text-dark">
                <i class="bi bi-record" style="font-size: 10px"></i>
                <i class="bi bi-record-fill"></i>
                <span>Intramuros Branch</span>
              </a>
            </li>
            <li
              class="nav-item"
              routerLink="./lemery"
              routerLinkActive="active"
            >
              <a class="nav-link text-dark">
                <i class="bi bi-record" style="font-size: 10px"></i>
                <i class="bi bi-record-fill"></i>
                <span>Lemery Branch</span>
              </a>
            </li>
            <li class="nav-item" routerLink="./lipa" routerLinkActive="active">
              <a class="nav-link text-dark">
                <i class="bi bi-record" style="font-size: 10px"></i>
                <i class="bi bi-record-fill"></i>
                <span>Lipa Branch</span>
              </a>
            </li>
            <li
              class="nav-item"
              routerLink="./printing"
              routerLinkActive="active"
            >
              <a class="nav-link text-dark">
                <i class="bi bi-record" style="font-size: 10px"></i>
                <i class="bi bi-record-fill"></i>
                <span>Printing Press</span>
              </a>
            </li>
            <li
              class="nav-item"
              routerLink="./stronghold"
              routerLinkActive="active"
            >
              <a class="nav-link text-dark">
                <i class="bi bi-record" style="font-size: 10px"></i>
                <i class="bi bi-record-fill"></i>
                <span>Stronghold Insurance</span>
                <div style="margin-left: 19px">Company, Inc.</div>
              </a>
            </li>
            <li
              class="nav-item"
              routerLink="./taytay"
              routerLinkActive="active"
            >
              <a class="nav-link text-dark">
                <i class="bi bi-record" style="font-size: 10px"></i>
                <i class="bi bi-record-fill"></i>
                <span>Taytay Branch</span>
              </a>
            </li>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <div class="accordion-header" id="flush-headingThree">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree"
            aria-expanded="false"
            aria-controls="flush-collapseThree"
          >
            <i class="bi bi-journal-text"></i>
            <span class="menu">Tax Activities</span>
          </button>
        </div>
        <div
          id="flush-collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingThree"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <li class="nav-item" routerLink="./c1601" routerLinkActive="active">
              <a class="nav-link text-dark">
                <i class="bi bi-record" style="font-size: 10px"></i>
                <i class="bi bi-record-fill"></i>
                <span>1601C</span>
              </a>
            </li>
            <li
              class="nav-item"
              routerLink="./researches"
              routerLinkActive="active"
            >
              <a class="nav-link text-dark">
                <i class="bi bi-record" style="font-size: 10px"></i>
                <i class="bi bi-record-fill"></i>
                <span>2551Q</span>
              </a>
            </li>
            <li
              class="nav-item"
              routerLink="./researches"
              routerLinkActive="active"
            >
              <a class="nav-link text-dark">
                <i class="bi bi-record" style="font-size: 10px"></i>
                <i class="bi bi-record-fill"></i>
                <span>2550 M-Q</span>
              </a>
            </li>
            <li
              class="nav-item"
              routerLink="./researches"
              routerLinkActive="active"
            >
              <a class="nav-link text-dark">
                <i class="bi bi-record" style="font-size: 10px"></i>
                <i class="bi bi-record-fill"></i>
                <span>2316</span>
              </a>
            </li>
            <li
              class="nav-item"
              routerLink="./researches"
              routerLinkActive="active"
            >
              <a class="nav-link text-dark">
                <i class="bi bi-record" style="font-size: 10px"></i>
                <i class="bi bi-record-fill"></i>
                <span>0619E / 1601EQ</span>
              </a>
            </li>
            <li
              class="nav-item"
              routerLink="./researches"
              routerLinkActive="active"
            >
              <a class="nav-link text-dark">
                <i class="bi bi-record" style="font-size: 10px"></i>
                <i class="bi bi-record-fill"></i>
                <span>0619F / 1601FQ</span>
              </a>
            </li>
            <li
              class="nav-item"
              routerLink="./researches"
              routerLinkActive="active"
            >
              <a class="nav-link text-dark">
                <i class="bi bi-record" style="font-size: 10px"></i>
                <i class="bi bi-record-fill"></i>
                <span>1701Q / 1702Q</span>
              </a>
            </li>
            <li
              class="nav-item"
              routerLink="./researches"
              routerLinkActive="active"
            >
              <a class="nav-link text-dark">
                <i class="bi bi-record" style="font-size: 10px"></i>
                <i class="bi bi-record-fill"></i>
                <span>2306 / 2307</span>
              </a>
            </li>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <div class="accordion-header" id="flush-headingFour">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFour"
            aria-expanded="false"
            aria-controls="flush-collapseFour"
          >
            <i class="bi bi-clipboard2-check"></i>
            <span class="menu">For Processes</span>
          </button>
        </div>
        <div
          id="flush-collapseFour"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingFour"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <div class="accordion accordion-flush" id="accordionFlushExample2">
              <div class="accordion-item">
                <h2 class="accordion-header" id="bir-headingOne">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#bir-collapseOne"
                    aria-expanded="false"
                    aria-controls="bir-collapseOne"
                  >
                    <i class="bi bi-info-circle" style="font-size: 15px"></i>
                    <span class="menu">BIR</span>
                  </button>
                </h2>
                <div
                  id="bir-collapseOne"
                  class="accordion-collapse collapse"
                  aria-labelledby="bir-headingOne"
                  data-bs-parent="#accordionFlushExample2"
                >
                  <div class="accordion-body">
                    <li
                      class="nav-item"
                      routerLink="./announcement"
                      routerLinkActive="active"
                    >
                      <a class="nav-link text-dark">
                        <i class="bi bi-record" style="font-size: 10px"></i>
                        <i class="bi bi-record-fill"></i>
                        <span>Registration</span>
                      </a>
                    </li>
                    <li
                      class="nav-item"
                      routerLink="./hei"
                      routerLinkActive="active"
                    >
                      <a class="nav-link text-dark">
                        <i class="bi bi-record" style="font-size: 10px"></i>
                        <i class="bi bi-record-fill"></i>
                        <span>Closure</span>
                      </a>
                    </li>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-2"
                    aria-expanded="false"
                    aria-controls="flush-2"
                  >
                    <i class="bi bi-info-circle" style="font-size: 15px"></i>
                    <span class="menu">COR Update</span>
                  </button>
                </h2>
                <div
                  id="flush-2"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingTwo"
                  data-bs-parent="#accordionFlushExample2"
                >
                  <div class="accordion-body">
                    <li
                      class="nav-item"
                      routerLink="./hei"
                      routerLinkActive="active"
                    >
                      <a class="nav-link text-dark">
                        <i class="bi bi-record" style="font-size: 10px"></i>
                        <i class="bi bi-record-fill"></i>
                        <span>Change Trade Name</span>
                      </a>
                    </li>
                    <li
                      class="nav-item"
                      routerLink="./hei"
                      routerLinkActive="active"
                    >
                      <a class="nav-link text-dark">
                        <i class="bi bi-record" style="font-size: 10px"></i>
                        <i class="bi bi-record-fill"></i>
                        <span>Change Address</span>
                      </a>
                    </li>
                    <li
                      class="nav-item"
                      routerLink="./hei"
                      routerLinkActive="active"
                    >
                      <a class="nav-link text-dark">
                        <i class="bi bi-record" style="font-size: 10px"></i>
                        <i class="bi bi-record-fill"></i>
                        <span>Conversion from</span>
                        <div style="margin-left: 19px">Non-Vat to Vat</div>
                      </a>
                    </li>
                    <li
                      class="nav-item"
                      routerLink="./hei"
                      routerLinkActive="active"
                    >
                      <a class="nav-link text-dark">
                        <i class="bi bi-record" style="font-size: 10px"></i>
                        <i class="bi bi-record-fill"></i>
                        <span>Additional WE / WC</span>
                      </a>
                    </li>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-3"
                    aria-expanded="false"
                    aria-controls="flush-3"
                  >
                    <i class="bi bi-info-circle" style="font-size: 15px"></i>
                    <span class="menu">Business Permit Registration</span>
                  </button>
                </h2>
                <div
                  id="flush-3"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingThree"
                  data-bs-parent="#accordionFlushExample2"
                >
                  <div class="accordion-body">
                    <li
                      class="nav-item"
                      routerLink="./hei"
                      routerLinkActive="active"
                    >
                      <a class="nav-link text-dark">
                        <i class="bi bi-record" style="font-size: 10px"></i>
                        <i class="bi bi-record-fill"></i>
                        <span>Other Requirements</span>
                      </a>
                    </li>
                    <li
                      class="nav-item"
                      routerLink="./hei"
                      routerLinkActive="active"
                    >
                      <a class="nav-link text-dark">
                        <i class="bi bi-record" style="font-size: 10px"></i>
                        <i class="bi bi-record-fill"></i>
                        <span>Certificate of Use</span>
                      </a>
                    </li>
                    <li
                      class="nav-item"
                      routerLink="./hei"
                      routerLinkActive="active"
                    >
                      <a class="nav-link text-dark">
                        <i class="bi bi-record" style="font-size: 10px"></i>
                        <i class="bi bi-record-fill"></i>
                        <span>Building Permit</span>
                        <div style="margin-left: 19px">Application</div>
                      </a>
                    </li>
                    <li
                      class="nav-item"
                      routerLink="./hei"
                      routerLinkActive="active"
                    >
                      <a class="nav-link text-dark">
                        <i class="bi bi-record" style="font-size: 10px"></i>
                        <i class="bi bi-record-fill"></i>
                        <span>Requirements of DAR</span>
                        <div style="margin-left: 19px">Clearance</div>
                      </a>
                    </li>
                    <li
                      class="nav-item"
                      routerLink="./hei"
                      routerLinkActive="active"
                    >
                      <a class="nav-link text-dark">
                        <i class="bi bi-record" style="font-size: 10px"></i>
                        <i class="bi bi-record-fill"></i>
                        <span>City Update</span>
                      </a>
                    </li>
                    <li
                      class="nav-item"
                      routerLink="./hei"
                      routerLinkActive="active"
                    >
                      <a class="nav-link text-dark">
                        <i class="bi bi-record" style="font-size: 10px"></i>
                        <i class="bi bi-record-fill"></i>
                        <span>City Closure</span>
                      </a>
                    </li>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <div class="accordion-header" id="headingFour">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-4"
                    aria-expanded="false"
                    aria-controls="flush-4"
                  >
                    <i class="bi bi-info-circle" style="font-size: 15px"></i>
                    <span class="menu">DTI (New Registration)</span>
                  </button>
                </div>
                <div
                  id="flush-4"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingFour"
                  data-bs-parent="#accordionFlushExample2"
                >
                  <div class="accordion-body">
                    <li
                      class="nav-item"
                      routerLink="./hei"
                      routerLinkActive="active"
                    >
                      <a class="nav-link text-dark">
                        <i class="bi bi-record" style="font-size: 10px"></i>
                        <i class="bi bi-record-fill"></i>
                        <span>Scope</span>
                      </a>
                    </li>
                    <li
                      class="nav-item"
                      routerLink="./hei"
                      routerLinkActive="active"
                    >
                      <a class="nav-link text-dark">
                        <i class="bi bi-record" style="font-size: 10px"></i>
                        <i class="bi bi-record-fill"></i>
                        <span>For Cancellation of DTI</span>
                      </a>
                    </li>
                    <li
                      class="nav-item"
                      routerLink="./hei"
                      routerLinkActive="active"
                    >
                      <a class="nav-link text-dark">
                        <i class="bi bi-record" style="font-size: 10px"></i>
                        <i class="bi bi-record-fill"></i>
                        <span>Change of Scope</span>
                      </a>
                    </li>
                    <li
                      class="nav-item"
                      routerLink="./hei"
                      routerLinkActive="active"
                    >
                      <a class="nav-link text-dark">
                        <i class="bi bi-record" style="font-size: 10px"></i>
                        <i class="bi bi-record-fill"></i>
                        <span>For Renewal</span>
                      </a>
                    </li>
                  </div>
                </div>
              </div> -->
            </div>
            <li
              class="nav-item"
              routerLink="./app-tin"
              routerLinkActive="active"
            >
              <a class="nav-link text-dark">
                <i class="bi bi-record" style="font-size: 10px"></i>
                <i class="bi bi-record-fill"></i>
                <span
                  >Application For Tin
                  <div style="margin-left: 18px">Issuance / Update</div>
                </span>
              </a>
            </li>
            <li
              class="nav-item"
              routerLink="./researches"
              routerLinkActive="active"
            >
              <a class="nav-link text-dark">
                <i class="bi bi-record" style="font-size: 10px"></i>
                <i class="bi bi-record-fill"></i>
                <span>Application For Receipts</span>
                <div style="margin-left: 19px">Authority to Print</div>
              </a>
            </li>

            <li
              class="nav-item"
              routerLink="./researches"
              routerLinkActive="active"
            >
              <a class="nav-link text-dark">
                <i class="bi bi-record" style="font-size: 10px"></i>
                <i class="bi bi-record-fill"></i>
                <span>Books Update</span>
              </a>
            </li>
            <li
              class="nav-item"
              routerLink="./researches"
              routerLinkActive="active"
            >
              <a class="nav-link text-dark">
                <i class="bi bi-record" style="font-size: 10px"></i>
                <i class="bi bi-record-fill"></i>
                <span>Barangay Closure</span>
              </a>
            </li>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-header" id="flush-headingFive">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFive"
            aria-expanded="false"
            aria-controls="flush-collapseFive"
          >
            <i class="bi bi-gear"></i>
            <span class="menu">Settings</span>
          </button>
        </div>
        <div
          id="flush-collapseFive"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingFive"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <li
              class="nav-item"
              routerLink="./branches"
              routerLinkActive="active"
            >
              <a class="nav-link text-dark">
                <i class="bi bi-record" style="font-size: 10px"></i>
                <i class="bi bi-record-fill"></i>
                <span>Branches</span>
              </a>
            </li>
          </div>
        </div>
      </div>
    </div>
  </ul>
</aside>
