.side-bar {
  z-index: 10;
  height: 100%;
  overflow: hidden;
  color: black;
  padding: 0;
  margin: 0;
  background-color: white;
  box-shadow: 0px 0px 3px #7c7c7c;
}

.side-bar ul {
  margin-top: 60px;
}

.accordion-body .nav-item {
  padding: 0;
}

a .record {
  width: 30px;
  height: 20px;
}

.active i,
.active span {
  color: #0e7545;
}

.nav-link:hover {
  background-color: #00814510;
  cursor: pointer;
}

.hoho .active {
  background-color: #00814510;
}

.menu {
  margin-left: 5px;
  font-weight: 600;
  font-size: 15px;
}

.accordion-button {
  outline: none !important;
  box-shadow: none !important;
  padding: 0.7rem 1rem;
}

.accordion-button:hover {
  background-color: #00814510;
}

.accordion li {
  font-weight: bold;
}

.accordion-button:not(.collapsed) {
  color: #0e7545;
  background-color: #00814510;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230e7545'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

i {
  margin-right: 10px;
  font-size: 17px;
}

.accordion-item {
  border: none !important;
  background-color: transparent !important;
  font-size: 14px;
  padding-bottom: 5px;
}

.accordion-body {
  padding: 0;
  padding-top: 5px;
  margin-left: 30px;
}

.navbar {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0px 0px 3px #7c7c7c;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.navbar-brand {
  font-family: "Nunito";
  width: 19ch;
  overflow: hidden;
  color: #2e664c;
  font-weight: bold;
  font-size: 22px;
  margin-left: 10px;
  animation: typing 1.3s steps(22), blink 0.5s step-end infinite alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.ads {
  font-family: "Nunito";
  color: #2e664c;
  font-size: 17px;
  font-weight: bold;
  margin-left: 5px;
}

.bi-list {
  font-size: 35px;
  cursor: pointer;
}

.con {
  margin-left: auto;
  margin-right: 5px;
}

.con .nav-link:hover {
  background-color: transparent !important;
}

.admin {
  width: 300px;
  display: flex;
  align-items: center;
  position: relative;
}

.admin .bi-search {
  position: absolute;
  right: 10px;
  margin-bottom: 7px;
  cursor: pointer;
}

.nav-item {
  a {
    i.bi-record {
      font-size: 10px;
    }

    i.bi-record-fill {
      font-size: 10px;
      display: none;
    }
  }

  &.active {
    a {
      i.bi-record {
        display: none;
      }

      i.bi-record-fill {
        display: inline;
        font-size: 10px;
      }
    }
  }
}
