.side-bar {
  height: 100%;
  overflow: auto;
}

ul {
  margin-top: 4.4rem;
}

.active i,
.active span {
  color: #0e7545;
}

.nav-link:hover{
  background-color: #0db86815;
}

.nav-link {
  position: relative;
  cursor: pointer;
}

.nav-link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0e7545;
  transform-origin: bottom left;
  transition: transform 0.50s ease-out;
}

.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hoho .active {
  background-color: #0db86815;
}

.menu {
  margin-left: 5px;
  font-weight: 600;
  font-size: 15px;
}

.accordion-button {
  outline: none !important;
  box-shadow: none !important;
  padding: 0.7rem 1rem;
}

.accordion-button:hover {
  background-color: #0db86815;
}

.accordion li {
  font-weight: bold;
}

.accordion-button:not(.collapsed) {
  color: #0e7545;
  background-color: #0db86815;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23909090c5'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230e7545'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

i {
  margin-right: 10px;
  font-size: 17px;
}

.accordion-item {
  border: none !important;
  background-color: transparent !important;
  font-size: 14px;
  padding-bottom: 5px;
}

.accordion-body {
  padding: 0;
  padding-top: 5px;
  margin-left: 30px;
}

.nav-item {
  a {
    i.bi-record {
      font-size: 10px;
    }

    i.bi-record-fill {
      font-size: 10px;
      display: none;
    }
  }

  &.active {
    a {
      i.bi-record {
        display: none;
      }

      i.bi-record-fill {
        display: inline;
        font-size: 10px;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(186, 186, 190, 0.911);
  border-radius: 10px;
}