<div class="container-fluid">
  <h2 class="pos">List of Client</h2>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-0">
      <li class="breadcrumb-item">Home</li>
      <li class="breadcrumb-item active" aria-current="page">Biñan Branch</li>
    </ol>
  </nav>
  <div class="pub">
    <h4>Biñan Branch</h4>
    <p></p>
    <div class="table-responsive">
      <table
        class="table table-striped table-bordered table-hover"
        datatable
        [dtOptions]="dtOptions"
      >
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Tin</th>
            <th scope="col">Tax Payer Name</th>
            <th scope="col">Business Type</th>
            <th scope="col">Contact Number</th>
            <th scope="col">Business Address</th>
            <th scope="col">Date of Registration</th>
            <th scope="col">Trade Name</th>
            <th scope="col">Line of Business</th>
            <th scope="col">PSIC</th>
            <!-- <th colspan="3" style="text-align: center; width: 15%">Action</th> -->
          </tr>
        </thead>
        <tbody *ngIf="allUsers?.length != 0">
          <tr *ngFor="let user of allUsers">
            <td>{{ user.id }}</td>
            <!-- <td>{{ user.firstName }}</td>
              <td>{{ user.lastName }}</td>
              <td>-</td>
              <td>-</td>
              <td>-</td> -->
            <td>{{ user.ein }}</td>
            <td>{{ user.firstName }} {{ user.lastName }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.address.address }}, {{ user.address.city }}</td>
            <td>{{ user.birthDate }}</td>
            <td>
              <button type="button" class="btn btn-dark">
                <i class="bi bi-pencil"></i>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-danger">
                <i class="bi bi-trash"></i>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-primary">
                <i class="bi bi-eye"></i>
              </button>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="allUsers?.length == 0">
          <tr>
            <td
              colspan="7"
              class="no-data-available"
              style="text-align: center"
            >
              No matching records found
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
