.container-fluid {
  width: 100%;
  height: 100%;
  padding: 20px;
  margin-top: 4.5rem;
  transition: all 0.5s;
  // overflow: auto;
  // padding-bottom: 5rem;
}

.pub {
  background-color: white;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
  border-radius: 10px;
  padding: 2em;
}

.pos {
  font-size: 23px;
  font-weight: bold;
  color: #2e664c;
}

.breadcrumb {
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  color: #899bbd;
  font-weight: bold;
}

h4 {
  font-weight: bold;
  color: #2e664c;
  font-size: 22px;
}

.admin {
  width: 230px;
  display: flex;
  justify-content: right;
  position: relative;
}

.admin .bi-search {
  position: absolute;
  right: 20px;
  margin-bottom: 7px;
  cursor: pointer;
}

.page,
.search {
  display: flex;
  justify-content: flex-end;
}

table {
  overflow: auto;
  max-width: 100%;
  white-space: nowrap;
}

.table-responsive {
  max-height: 610px;
  overflow: auto;
}

th,
thead {
  position: sticky;
  top: 0;
  background-color: #2e664c;
  color: #ffffff;
  min-width: 180px;
}

.add {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.modal-backdrop {
  z-index: 1040 !important;
  display: none;
}

.modal-content {
  margin: 2px auto;
  z-index: 1100 !important;
}

.modal-body {
  height: 65vh;
}
