<div class="container-fluid">
  <h2 class="pos">Client Registration</h2>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-0">
      <li class="breadcrumb-item">Home</li>
      <li class="breadcrumb-item active" aria-current="page">Individual</li>
    </ol>
  </nav>
  <div class="pub">
    <h4>Client Information</h4>
    <div class="branch">
      <select
        class="form-select mt-4"
        style="width: max-content"
        id="hanap"
        aria-label="Default select example"
      >
        <option selected>Please Select Branch</option>
        <option value="1">Biñan Branch</option>
        <option value="2">Cainta Branch</option>
        <option value="3">Calapan Branch</option>
        <option value="4">Head Office</option>
        <option value="5">Intramuros Branch</option>
        <option value="6">Lemery Branch</option>
        <option value="7">Lipa Branch</option>
        <option value="8">Printing Press</option>
        <option value="9">Stronghold Insurance Company, Inc.</option>
        <option value="10">Taytay Branch</option>
      </select>
    </div>

    <div class="row">
      <div class="title">
        <span class="caption">Business Information</span>
      </div>
      <div class="info mb-3 mt-3">
        <label for="tin" class="form-label">Tin:</label>
        <input type="number" class="form-control" id="tin" />
      </div>
      <div class="info mb-3 mt-3">
        <label for="tpn" class="form-label">Tax Payers Name:</label>
        <input type="text" class="form-control" id="tpn" />
      </div>
      <div class="info mb-3 mt-3">
        <label for="ba" class="form-label">Business Address:</label>
        <input type="text" class="form-control" id="ba" />
      </div>
      <div class="info mb-3 mt-3">
        <label for="dor" class="form-label">Date of Registration:</label>
        <input type="date" class="form-control" id="dor" />
      </div>
      <div class="info mb-3 mt-3">
        <label for="tn" class="form-label">Trade Name:</label>
        <input type="text" class="form-control" id="tn" />
      </div>
      <div class="info mb-3 mt-3">
        <label for="lob" class="form-label">Line of Business:</label>
        <input type="text" class="form-control" id="lob" />
      </div>
      <div class="info mb-3 mt-3">
        <label for="psic" class="form-label">PSIC:</label>
        <input type="text" class="form-control" id="psic" />
      </div>

      <div class="title">
        <span class="caption">Client Information</span>
      </div>
      <span
        class="mt-3 fs-6 text-dark"
        style="font-family: Poppins"
        >Contact Person No. 1</span
      >

      <div class="info mb-3 mt-3">
        <input
          type="text"
          class="form-control"
          id="fn"
          placeholder="First Name"
        />
      </div>
      <div class="info mb-3 mt-3">
        <input
          type="text"
          class="form-control"
          id="mn"
          placeholder="Middle Name"
        />
      </div>
      <div class="info mb-3 mt-3">
        <input
          type="text"
          class="form-control"
          id="ln"
          placeholder="Last Name"
        />
      </div>
      <div class="info mb-3 mt-3">
        <input
          type="text"
          class="form-control"
          id="suffix"
          placeholder="Suffix"
        />
      </div>
      <div class="info mb-3 mt-3">
        <input
          type="number"
          class="form-control"
          id="contact"
          placeholder="Contact No"
        />
      </div>
      <div class="info mb-3 mt-3">
        <input
          type="number"
          class="form-control"
          id="alcontact"
          placeholder="Alternative Contact No"
        />
      </div>
      <div class="info mb-3 mt-3">
        <input
          type="text"
          class="form-control"
          id="ra"
          placeholder="Residence Address"
        />
      </div>

      <span
        class="mt-3 fs-6 text-dark"
        style="font-family: Poppins"
        >Contact Person No. 2</span
      >

      <div class="info mb-3 mt-3">
        <input
          type="text"
          class="form-control"
          id="fn2"
          placeholder="First Name"
        />
      </div>
      <div class="info mb-3 mt-3">
        <input
          type="text"
          class="form-control"
          id="mn2"
          placeholder="Middle Name"
        />
      </div>
      <div class="info mb-3 mt-3">
        <input
          type="text"
          class="form-control"
          id="ln2"
          placeholder="Last Name"
        />
      </div>
      <div class="info mb-3 mt-3">
        <input
          type="text"
          class="form-control"
          id="suffix2"
          placeholder="Suffix"
        />
      </div>
      <div class="info mb-3 mt-3">
        <input
          type="number"
          class="form-control"
          id="contact2"
          placeholder="Contact No"
        />
      </div>
      <div class="info mb-3 mt-3">
        <input
          type="number"
          class="form-control"
          id="alcontact2"
          placeholder="Alternative Contact No"
        />
      </div>
      <div class="info mb-3 mt-3">
        <input
          type="text"
          class="form-control"
          id="ra2"
          placeholder="Residence Address"
        />
      </div>
    </div>
  </div>
</div>
