<div class="container-fluid">
  <h2 class="pos">Client Registration</h2>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-0">
      <li class="breadcrumb-item">Home</li>
      <li class="breadcrumb-item active" aria-current="page">Non-Individual</li>
    </ol>
  </nav>
  <div class="pub">
    <h4>Client Information</h4>
    <div class="branch" style="width: max-content">
      <select
        class="form-select mt-4"
        id="branches"
        aria-label="Default select example"
      >
        <option selected>Please Select Branch</option>
        <option value="1">Biñan Branch</option>
        <option value="2">Cainta Branch</option>
        <option value="3">Calapan Branch</option>
        <option value="4">Head Office</option>
        <option value="5">Intramuros Branch</option>
        <option value="6">Lemery Branch</option>
        <option value="7">Lipa Branch</option>
        <option value="8">Printing Press</option>
        <option value="9">Stronghold Insurance Company, Inc.</option>
        <option value="10">Taytay Branch</option>
      </select>
    </div>

    <div class="row">
      <!-----------------------Business Information------------------------------------->
      <div class="title">
        <span class="caption">Business Information</span>
      </div>

      <div class="info mb-3 mt-3">
        <label for="tin" class="form-label">Tin:</label>
        <input type="number" class="form-control" id="tin" />
      </div>
      <div class="info mb-3 mt-3">
        <label for="tpn" class="form-label">Tax Payers Name:</label>
        <input type="text" class="form-control" id="tpn" />
      </div>
      <div class="info mb-3 mt-3">
        <label for="ba" class="form-label">Business Address:</label>
        <input type="text" class="form-control" id="ba" />
      </div>
      <div class="info mb-3 mt-3">
        <label for="dor" class="form-label">Date of Registration:</label>
        <input type="date" class="form-control" id="dor" />
      </div>
      <div class="info mb-3 mt-3">
        <label for="tn" class="form-label">Trade Name:</label>
        <input type="text" class="form-control" id="tn" />
      </div>
      <div class="info mb-3 mt-3">
        <label for="lob" class="form-label">Line of Business:</label>
        <input type="text" class="form-control" id="lob" />
      </div>
      <div class="info mb-3 mt-3">
        <label for="psic" class="form-label">PSIC:</label>
        <input type="text" class="form-control" id="psic" />
      </div>
      <!-----------------------End of Business Information------------------------------------->

      <!-----------------------Client Information------------------------------------->
      <div class="title">
        <span class="caption">Client Information</span>
      </div>

      <span
        class="mt-3 fs-6 text-dark"
        style="font-weight: bold; font-family: Poppins"
        >Contact Person No. 1</span
      >
      <div class="info mb-3 mt-3">
        <input
          type="text"
          class="form-control"
          id="fn"
          placeholder="First Name"
        />
      </div>
      <div class="info mb-3 mt-3">
        <input
          type="text"
          class="form-control"
          id="mn"
          placeholder="Middle Name"
        />
      </div>
      <div class="info mb-3 mt-3">
        <input
          type="text"
          class="form-control"
          id="ln"
          placeholder="Last Name"
        />
      </div>
      <div class="info mb-3 mt-3">
        <input
          type="text"
          class="form-control"
          id="suffix"
          placeholder="Suffix"
        />
      </div>
      <div class="info mb-3 mt-3">
        <input
          type="number"
          class="form-control"
          id="contact"
          placeholder="Contact No"
        />
      </div>
      <div class="info mb-3 mt-3">
        <input
          type="number"
          class="form-control"
          id="alcontact"
          placeholder="Alternative Contact No"
        />
      </div>
      <div class="info mb-3 mt-3">
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Email Address"
        />
      </div>
      <div class="info mb-3 mt-3">
        <input
          type="email"
          class="form-control"
          id="alemail"
          placeholder="Alternative Email Address"
        />
      </div>

      <span
        class="mt-3 fs-6 text-dark"
        style="font-weight: bold; font-family: Poppins"
        >Contact Person No. 2</span
      >
      <div class="info mb-3 mt-3">
        <input
          type="text"
          class="form-control"
          id="fn2"
          placeholder="First Name"
        />
      </div>
      <div class="info mb-3 mt-3">
        <input
          type="text"
          class="form-control"
          id="mn2"
          placeholder="Middle Name"
        />
      </div>
      <div class="info mb-3 mt-3">
        <input
          type="text"
          class="form-control"
          id="ln2"
          placeholder="Last Name"
        />
      </div>
      <div class="info mb-3 mt-3">
        <input
          type="text"
          class="form-control"
          id="suffix2"
          placeholder="Suffix"
        />
      </div>
      <div class="info mb-3 mt-3">
        <input
          type="number"
          class="form-control"
          id="contact2"
          placeholder="Contact No"
        />
      </div>
      <div class="info mb-3 mt-3">
        <input
          type="number"
          class="form-control"
          id="alcontact2"
          placeholder="Alternative Contact No"
        />
      </div>
      <div class="info mb-3 mt-3">
        <input
          type="email"
          class="form-control"
          id="email2"
          placeholder="Email Address"
        />
      </div>
      <div class="info mb-3 mt-3">
        <input
          type="email"
          class="form-control"
          id="alemail2"
          placeholder="Alternative Email Address"
        />
      </div>
      <!-----------------------End of Client Information------------------------------------->

      <!-----------------------Type of Account------------------------------------->
      <div class="title">
        <span class="caption">Type of Account</span>
      </div>

      <div class="toa mt-3">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="manual"
            value="option1"
          />
          <label class="form-check-label" for="manual">Manual</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="efps"
            value="option2"
          />
          <label class="form-check-label" for="efps">EFPS</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="pos"
            value="option3"
          />
          <label class="form-check-label" for="pos">POS M.</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="esales"
            value="option4"
          />
          <label class="form-check-label" for="esales">ESALES</label>
        </div>
      </div>
      <!-----------------------End of Type of Account------------------------------------->

      <!-----------------------Tax Activities------------------------------------->
      <div class="title">
        <span class="caption">Tax Activities</span>
      </div>

      <div class="tax mt-3">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="it"
            value="option1"
          />
          <label class="form-check-label" for="it">IT</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="vt"
            value="option2"
          />
          <label class="form-check-label" for="vt">VT</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="wf"
            value="option3"
          />
          <label class="form-check-label" for="wf">WF</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="calendar"
            value="option4"
          />
          <label class="form-check-label" for="calendar">CALENDAR</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="rf"
            value="option1"
          />
          <label class="form-check-label" for="rf">RF</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="we"
            value="option2"
          />
          <label class="form-check-label" for="we">WE</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="qtrly"
            value="option3"
          />
          <label class="form-check-label" for="qtrly">QTRLY</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="fiscal"
            value="option4"
          />
          <label class="form-check-label" for="fiscal">FISCAL</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="pt"
            value="option2"
          />
          <label class="form-check-label" for="pt">PT</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="wc"
            value="option3"
          />
          <label class="form-check-label" for="wc">WC</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="8%"
            value="option4"
          />
          <label class="form-check-label" for="8%">8%</label>
        </div>
      </div>
      <!-----------------------End of Tax Activities------------------------------------->

      <!-----------------------Business Permit------------------------------------->
      <div class="title">
        <span class="caption">Business Permit</span>
      </div>

      <div class="bp mt-3">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="quarterly"
            value="quarterly"
          />
          <label class="form-check-label" for="quarterly">Quarterly</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="semi"
            value="semi"
          />
          <label class="form-check-label" for="semi">Semi Annual</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="annual"
            value="annual"
          />
          <label class="form-check-label" for="annual">Annual</label>
        </div>
      </div>
      <!-----------------------End of Business Permit------------------------------------->

      <!-----------------------Officers-------------------------------------------->
      <div class="title">
        <span class="caption">Officers</span>
      </div>

      <div class="officers mt-3">
        <div class="mb-3">
          <label for="pres" class="form-label">President:</label>
          <input type="number" class="form-control" id="pres" />
        </div>
        <div class="mb-3">
          <label for="vpres" class="form-label">Vice President:</label>
          <input type="number" class="form-control" id="vpres" />
        </div>
        <div class="mb-3">
          <label for="sec" class="form-label">Secretary:</label>
          <input type="number" class="form-control" id="sec" />
        </div>
        <div class="mb-3">
          <label for="tres" class="form-label">Treasurer:</label>
          <input type="number" class="form-control" id="tres" />
        </div>
      </div>
      <!-----------------------End of Officers-------------------------------------------->

      <!-----------------------Books-------------------------------------------->
      <div class="title">
        <span class="caption">Books</span>
      </div>

      <div class="cont">
        <strong class="form-check-label" id="evb" style="margin-right: 20px"
          >EVB</strong
        >
        <strong class="form-check-label" id="client">CLIENT</strong>
      </div>
      <div class="books mt-3">
        <label for="tres" class="form-label">Subsidiary Purchase</label>
        <span>
          <input
            class="form-check-input"
            type="checkbox"
            for="evb"
            value="evb"
            id="sp-evb"
            style="margin-right: 40px"
          />
          <input
            class="form-check-input"
            type="checkbox"
            for="client"
            value="client"
            id="sp-client"
            style="margin-right: 20px"
          />
        </span>
      </div>
      <div class="books mt-2">
        <label for="tres" class="form-label">Subsidiary Sales</label>
        <span>
          <input
            class="form-check-input"
            type="checkbox"
            for="evb"
            value="evb"
            id="ss-evb"
            style="margin-right: 40px"
          />
          <input
            class="form-check-input"
            type="checkbox"
            for="client"
            value="client"
            id="ss-client"
            style="margin-right: 20px"
          />
        </span>
      </div>
      <div class="books mt-2">
        <label for="tres" class="form-label">Ledger</label>
        <span>
          <input
            class="form-check-input"
            type="checkbox"
            for="evb"
            value="evb"
            id="ledger-evb"
            style="margin-right: 40px"
          />
          <input
            class="form-check-input"
            type="checkbox"
            for="client"
            value="client"
            id="ledger-client"
            style="margin-right: 20px"
          />
        </span>
      </div>
      <div class="books mt-2">
        <label for="tres" class="form-label"
          >Stock & Transfer Book (SEC) / Membership Book (SEC)</label
        >
        <span>
          <input
            class="form-check-input"
            type="checkbox"
            for="evb"
            value="evb"
            id="sec-evb"
            style="margin-right: 40px"
          />
          <input
            class="form-check-input"
            type="checkbox"
            for="client"
            value="client"
            id="sec-client"
            style="margin-right: 20px"
          />
        </span>
      </div>
      <div class="books mt-2">
        <label for="tres" class="form-label">Journal</label>
        <span>
          <input
            class="form-check-input"
            type="checkbox"
            for="evb"
            value="evb"
            id="journal-evb"
            style="margin-right: 40px"
          />
          <input
            class="form-check-input"
            type="checkbox"
            for="client"
            value="client"
            id="journal-client"
            style="margin-right: 20px"
          />
        </span>
      </div>
      <div class="books mt-2">
        <label for="tres" class="form-label">Cash Disbursement</label>
        <span>
          <input
            class="form-check-input"
            type="checkbox"
            for="evb"
            value="evb"
            id="cd-evb"
            style="margin-right: 40px"
          />
          <input
            class="form-check-input"
            type="checkbox"
            for="client"
            value="client"
            id="cd-client"
            style="margin-right: 20px"
          />
        </span>
      </div>
      <div class="books mt-2">
        <label for="tres" class="form-label">Cash Receipts</label>
        <span>
          <input
            class="form-check-input"
            type="checkbox"
            for="evb"
            value="evb"
            id="cr-evb"
            style="margin-right: 40px"
          />
          <input
            class="form-check-input"
            type="checkbox"
            for="client"
            value="client"
            id="cr-client"
            style="margin-right: 20px"
          />
        </span>
      </div>
      <!-----------------------End of Books-------------------------------------------->

      <!-----------------------Benefits-------------------------------------------->
      <div class="title">
        <span class="caption">Benefits</span>
      </div>

      <div class="benefits mt-3">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="sss"
            value="sss"
          />
          <label class="form-check-label" for="sss">SSS</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="ph"
            value="ph"
          />
          <label class="form-check-label" for="ph">PHILHEALTH</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="pagibig"
            value="pagibig"
          />
          <label class="form-check-label" for="pagibig">PAG-IBIG</label>
        </div>
      </div>
      <!-----------------------End of Benefits-------------------------------------------->

      <!-----------------------Payment Method-------------------------------------------->
      <div class="title">
        <span class="caption">Payment Method</span>
      </div>

      <div class="benefits mt-3">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="bd"
            value="bd"
          />
          <label class="form-check-label" for="bd">Bank Deposit</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="collector"
            value="collector"
          />
          <label class="form-check-label" for="collector">Collector</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="office"
            value="office"
          />
          <label class="form-check-label" for="office">Office</label>
        </div>
      </div>
      <!-----------------------End of Payment Method-------------------------------------------->

      <!-----------------------Securities and Exchange Commmission-------------------------------------------->
      <!-- <div class="title">
        <span class="caption">Securities and Exchange Commmission</span>
      </div>

      <div class="info mb-3 mt-3">
        <label for="crn" class="form-label">Company Reg No:</label>
        <input type="number" class="form-control" id="crn" />
      </div>
      <div class="info mb-3 mt-3">
        <label for="exp" class="form-label">Expiration Date:</label>
        <input type="Date" class="form-control" id="exp" />
      </div>
      <div class="info mb-3 mt-3">
        <label for="exp" class="form-label">Accounting Period:</label><br>
        <div class="form-check form-check-inline mt-2">
          <input
            class="form-check-input"
            type="checkbox"
            id="ap-calendar"
            value="ap-calendar"
          />
          <label class="form-check-label" for="ap-calendar">Calendar</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="ap-fiscal"
            value="ap-fiscal"
          />
          <label class="form-check-label" for="ap-fiscal">Fiscal</label>
        </div>
      </div> -->
      <!-----------------------End of Securities and Exchange Commmission-------------------------------------------->

      <!-----------------------Beginning Capital-------------------------------------------->
      <!-- <div class="title">
        <span class="caption">Beginning Capital</span>
      </div>

      <div class="info mb-3 mt-3">
        <label for="paid-capital" class="form-label">Paid Up Capital <em>(stock)</em> :</label>
        <input type="number" class="form-control" id="paid-capital" />
      </div>
      <div class="info mb-3 mt-3">
        <label for="total-contributed" class="form-label">Total Contributed <em>(non-stock)</em> :</label>
        <input type="text" class="form-control" id="total-contributed" />
      </div>
      <div class="info mb-3 mt-3">
        <label for="capital-contri" class="form-label">Capital Contribution <em>(partnership)</em> :</label>
        <input type="text" class="form-control" id="capital-contri" />
      </div> -->
      <!-----------------------End of Beginning Capital-------------------------------------------->

      <!-----------------------Contract of Lease---------------------------------------------------->
      <!-- <div class="title">
        <span class="caption">Contract of Lease</span>
      </div>

      <div class="info mb-3 mt-3">
        <label for="registration-date" class="form-label">Registration Date:</label>
        <input type="date" class="form-control" id="registration-date" />
      </div>
      <div class="info mb-3 mt-3">
        <label for="expiration-date" class="form-label">Expiration Date:</label>
        <input type="date" class="form-control" id="expiration-date" />
      </div>  
      <div class="info mb-3 mt-3">
        <label for="amount" class="form-label">Amount:</label>
        <input type="number" class="form-control" id="amount" />
      </div> -->
      <!-----------------------End of Contract of Lease-------------------------------------------->
      
      <div class="mt-5">
        <h4><strong>REMARKS</strong></h4>
        <div class="form-floating">
          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="remarks"
            style="height: 230px"
          ></textarea>
          <label for="remarks">Comments</label>
        </div>
      </div>
      <button type="button" (click)="submit()" class="btn btn-success">
        Submit
      </button>
    </div>
  </div>
</div>
