html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

}

body,
html {
    height: 100%;
    width: 100%;
    background: gainsboro;
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fafafa;
    overflow: hidden;
}

.active {
    background-color: #1730743d;
}
