<div class="container-fluid">
    <h2 class="pos">Dashboard</h2>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mt-0">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
      </ol>
    </nav>

    <div class="row">
      <!-- Left side columns -->
      <div class="col-lg-8">
        <div class="row">
          <!-- New Client -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card new" style="min-height: 155px">
              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"
                  ><i class="bi bi-three-dots"></i
                ></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item">Today</a></li>
                  <li><a class="dropdown-item">This Month</a></li>
                  <li><a class="dropdown-item">This Year</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">New Client</h5>
                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-person-check-fill"></i>
                  </div>
                  <div class="data">
                    <h3>10</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End New Client -->

          <!-- Pullout -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card pullout" style="min-height: 155px">
              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"
                  ><i class="bi bi-three-dots"></i
                ></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item">Today</a></li>
                  <li><a class="dropdown-item">This Month</a></li>
                  <li><a class="dropdown-item">This Year</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Pullout</h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-person-dash-fill"></i>
                  </div>
                  <div class="data">
                    <h3>3</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Pull out -->

          <!-- Overall Client -->
          <div class="col-xxl-4 col-xl-12">
            <div class="card info-card overall" style="min-height: 155px">
              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"
                  ><i class="bi bi-three-dots"></i
                ></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item">Today</a></li>
                  <li><a class="dropdown-item">This Month</a></li>
                  <li><a class="dropdown-item">This Year</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Overall Client</h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-people-fill"></i>
                  </div>
                  <div class="data">
                    <h3>99</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Overall Client -->

          <!-- Due Date -->
          <div class="col-12">
            <div class="card" style="min-height: fit-content">
              <div class="card-body">
                <h5 class="card-title">Due Date</h5>
                <mat-card class="demo-inline-calendar-card">
                  <mat-calendar [(selected)]="selected"></mat-calendar>
                </mat-card>
                <p class="mt-3">Selected date: {{ selected }}</p>
              </div>
            </div>
          </div>
          <!-- End Due Date -->
        </div>
      </div>
      <!-- End Left side columns -->

      <!-- Right side columns -->
      <div class="col-lg-4">
        <!-- Activity Log -->
        <div class="card" style="min-height: 773px">
          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"
              ><i class="bi bi-three-dots"></i
            ></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filter</h6>
              </li>

              <li><a class="dropdown-item">Today</a></li>
              <li><a class="dropdown-item">This Month</a></li>
              <li><a class="dropdown-item">This Year</a></li>
            </ul>
          </div>

          <div class="card-body">
            <h5 class="card-title">Activity Log</h5>
          </div>
        </div>
        <!-- End Activity Log -->

        <!-- Announcement -->
        <div class="card" style="height: 535px">
          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"
              ><i class="bi bi-three-dots"></i
            ></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filter</h6>
              </li>

              <li><a class="dropdown-item">Today</a></li>
              <li><a class="dropdown-item">This Month</a></li>
              <li><a class="dropdown-item">This Year</a></li>
            </ul>
          </div>

          <div class="card-body pb-0">
            <h5 class="card-title">Announcement</h5>
          </div>
          <!-- End Announcement -->
        </div>
      </div>
    </div>
</div>
